table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
	bottom: 2px !important;
}
.details{
    border-bottom: 1px dotted #DFE3FC;
	padding-top:8px;
}
.clearboth{
	clear:both;
}
.lead{
	font-size: 13px !important;
	margin-bottom: 5px !important;
	line-height: 1.1 !important;
	
}
.titles{
	font-weight:bold;
}
.bottom_pad{
	margin-bottom:11px;
}

.req {
    color: red;
    font-size: 16px;
}
.bordered{
	border: 1px dashed #dfe8f1;
       margin: 3px;
    padding: 4px;
}