.details{
    border-bottom: 1px dotted #DFE3FC;
	padding-top:8px;
}
.clearboth{
	clear:both;
}
.lead{
	font-size: 13px !important;
}
.titles{
	font-weight:bold;
}
.bottom_pad{
	margin-bottom:11px;
}
.req {
    color: red;
    font-size: 16px;
}
.bordered{
	border: 1px dashed #dfe8f1;
    margin: 5px;
	padding:8px;
}